body {
    background-color: #d9f9d7;
}

.navbar-default {
    background-color: #61c17b;
    border-color: #e7e7e7;
}

.navbar-inverse {
    background-color: #5ebb77;
    border-color: #4e7d4e;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: rgb(9, 93, 12);
}

.navbar-nav > li {
    margin-right: 2px;
}

.nav > li > div {
    margin: 5px;
}

.header img {
    width: 100%;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.header .page_inner {
    padding: 10px 0 10px;
}

.header .page_inner .text{
    margin-top: 42px;
}