{% extends "dashboard/layout.html" %}
{% load i18n %}

{% block title %}
    Створити статтю | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:posts-list' %}">Статті</a>
        </li>
        <li class="active">{{ page_title }} статтю</li>
    </ul>
{% endblock %}

{% block dashboard_content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            {{ page_title }} статтю
        </div>
        <form action="." class="form form-stacked" method="POST">
            <div class="panel-content">
                {% csrf_token %}
                {% include "dashboard/partials/form_field.html" with field=form.title %}
                {% include "dashboard/partials/form_field.html" with field=form.post_text %}
            </div>
            <div class="panel-footer">
                <button class="btn btn-success" type="submit">Зберегти</button>
                <a href="{% url 'dashboard:posts-list' %}" class="btn btn-default">Відміна</a>
                {% if post %}
                    <button type="button" data-toggle="modal" data-target="#remove-post" class="btn btn-danger">
                        <span>Видалити</span>
                    </button>
                {% endif %}
            </div>
        </form>
    </div>

    {% if post %}
        <div id="remove-post" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Видалити статтю</h3>
                    </div>
                    <form action="{% url 'dashboard:post-delete' post.pk %}" method="post">
                        <div class="modal-body">
                            {% csrf_token %}
                            Ви дійсно хочете видалити статтю: {{ post.title }}<br>
                            Цю дію відмінити буде неможливо.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">Відміна</button>
                            <button type="submit" class="btn btn-danger">Видалити</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock dashboard_content %}

{% block extrascripts %}
    {{ block.super }}

{% endblock extrascripts %}